<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="personalloan">
		<classes>
			<class name="loan.day1" />
			<class name="loan.day2" />
			<class name="loan.day3">
				<methods>
					<include name="LoginApihomeloan" />
				</methods>
			</class>

		</classes>

	</test> <!--
	Test -->
	<test name="carloan">
		<classes>
			<class name="loan.day4">
				<methods>
					<exclude name=".*car.*" />
					<exclude name="Mobile.*" />
				</methods>
			</class>

		</classes>
	</test>
</suite> <!--
Suite -->
